include _includes/head

section#home

  .home-wrapper.post-intro

    .nav-container
      .nav-title.col.left
        a(href='/'): h1 SERIOUS PIGEON
      .nav-logo.col.center
        .logo
          img(src='assets/img/rdd_logo_nt.png')
      .nav-menu.col.right
        ul.menu-list
          li
            a(href='about.html').menu-link.li-about.active ABOUT
          li
            a(href='work.html').menu-link.li-work WORK
          li
            a(href='contact.html').menu-link.li-contact CONTACT

    .main-container
      h1 About everythibg
      p Hello what is up?
      p Claritatem Investigationes demonstraverunt lectores legere me lius quod ii legunt. Dolore te feugait nulla facilisi nam liber tempor cum soluta nobis eleifend. Decima et quinta decima, eodem modo typi qui nunc nobis videntur parum clari? Odio dignissim qui blandit praesent luptatum zzril delenit augue. Minim veniam quis nostrud exerci, tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo. Putamus parum claram anteposuerit litterarum formas humanitatis per seacula quarta fiant sollemnes in. Adipiscing elit sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto duis option congue nihil.
