include _includes/head

section#home

  .home-wrapper.post-intro

    .nav-container
      .nav-title.col.left
        a(href='/'): h1 SERIOUS PIGEON
      .nav-logo.col.center
        .logo
          img(src='assets/img/rdd_logo_nt.png')
      .nav-menu.col.right
        ul.menu-list
          li
            a(href='about.html').menu-link.li-about ABOUT
          li
            a(href='work.html').menu-link.li-work.active WORK
          li
            a(href='contact.html').menu-link.li-contact CONTACT

    .main-container
      h1 Work