section#home

  .home-wrapper
    .logo-container
      .logo
        img(src='assets/img/rdd_logo_nt.png')
      .main-container
        .title
          h1 VERY SERIOUS PIGEON
        .menu-container
          ul.menu-list
            li
              a ABOUT
            li
              a WORK
            li
              a CONTACT
